// This file full of sass variables can be imported from multiple places.

// Import the initial variables from bulma to make them available and allow customization.
// https://bulma.io/documentation/customize/with-node-sass/
@import "~bulma/sass/utilities/initial-variables"
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap')
// Config vars
// ABC logo brand color: #c3f7c8
$abc-blue: #00bdd6
$abc-blue-invert: #242c25

$abc-purple: #bd9de0
$abc-purple-invert: #242c25

$primary: $abc-blue
$primary-invert: $abc-blue-invert
$secondary: $abc-purple
$secondary-invert: $abc-blue-invert
$body-color: #333
$black: #0f1916
$white: #f8fff8

$radius-large: 1rem
$radius: 8px
$radius-small: 4px

$family-primary: "Sofia Sans"